@charset "UTF-8";
html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul, ol, dl {
  list-style-type: none;
  padding-left: 0;
}

button {
  border: none;
}

input, textarea {
  border: none;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 40px calc(50vw - 500px);
  background-image: url("../img/background.png");
  background-size: cover;
  color: white;
  height: 100vh;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.header__h1 {
  font-size: 55px;
  font-weight: 700;
}

.header__p {
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
}

.header__text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social__item img:hover {
  border-radius: 50%;
  background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  -webkit-box-shadow: 0 0 0 3px  white;
          box-shadow: 0 0 0 3px  white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.splide__pagination--ttb {
  right: 1em;
}

.splide__pagination__page {
  padding: 3px;
  border: 2px solid white;
  background: inherit;
  margin: 10px;
  opacity: 1;
}

.splide1 {
  position: unset;
}

.splide__pagination {
  bottom: -1.5em;
}

.splide2 {
  padding-bottom: 40px;
}

.splide__arrow {
  opacity: 1;
  background-color: inherit;
  border: 1px solid white;
  color: white;
}

.splide__arrow--next {
  right: -5%;
}

.splide__arrow--prev {
  left: -5%;
}

.splide__list {
  -webkit-transition: 1s;
  transition: 1s;
}

.splide__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.splide__toggle {
  display: none;
}

.splide__arrow svg {
  fill: #ffffff;
}

.social__item {
  padding: 5px;
}

.social__item img {
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 200px;
}

.nav,
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
}

.nav__item,
.menu__item {
  margin: 0 20px;
  padding-top: 10px;
}

.nav__item::before,
.menu__item::before {
  content: '○';
  padding: 5px;
  color: white;
}

.nav__item:hover::before,
.menu__item:hover::before {
  content: '●';
}

.nav__link,
.menu__link {
  color: white;
  font-size: 0.7rem;
  letter-spacing: 1px;
  -webkit-transition: 0.1s cubic-bezier(0.65, 0.09, 0.81, 1.64);
  transition: 0.1s cubic-bezier(0.65, 0.09, 0.81, 1.64);
}

.nav__link:hover,
.menu__link:hover {
  color: #fff;
}

.nav__burger, .nav__burger-img,
.menu__burger,
.menu__burger-img {
  display: none;
}

.arrow {
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  cursor: pointer;
  padding: 10px;
}

.arrow span {
  display: block;
  height: 30px;
  width: 30px;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

.wwd,
.news,
.gallery,
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0;
  color: #2C4058;
}

.wwd__header,
.news__header,
.gallery__header,
.contact__header {
  color: #2C4058;
  font-size: 30px;
  position: relative;
  padding: 20px 0;
}

.wwd__header::after,
.news__header::after,
.gallery__header::after,
.contact__header::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: auto;
  right: auto;
  left: 35%;
  width: 30%;
  border-top: 1px solid #2C4058;
}

.wwd__info,
.news__info,
.gallery__info,
.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px 0;
}

.news__header::after {
  border-top: 1px solid #fff;
}

.info {
  padding: 60px calc(50vw - 500px);
}

.info__img {
  position: relative;
  max-width: 50%;
  z-index: 10;
}

.info__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info__img::before {
  content: '';
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}

.info__img:nth-child(1)::before {
  left: -20%;
  top: -10%;
  background-color: #55B7FF;
}

.info__img:nth-child(2)::before {
  right: -20%;
  top: -10%;
  background-color: #7E5AFF;
}

.info__text {
  margin-top: 10%;
  max-width: 40%;
}

.info__text h4 {
  font-weight: 300;
}

.info__text h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.info__text span {
  font-style: italic;
  color: black;
  font-size: 13px;
  position: relative;
}

.btn_default {
  margin: 20px 0 30px 0;
  border: 1px solid #2C4058;
  background-color: #ffffff;
  color: #2C4058;
  font-size: 10px;
  font-weight: 500;
  padding: 10px 20px;
  -webkit-transition: 0.3s cubic-bezier(0.65, 0.09, 0.81, 1.64);
  transition: 0.3s cubic-bezier(0.65, 0.09, 0.81, 1.64);
}

.btn_default:hover {
  background: #2C4058;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  border: 1px solid black;
  -webkit-box-shadow: 1px 2px 3px 1px #2C4058;
          box-shadow: 1px 2px 3px 1px #2C4058;
}

.news {
  height: 100vh;
  padding: 100px 0 150px 0;
  background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
}

.news__header {
  color: white;
}

.card {
  width: 75%;
  min-width: 240px;
}

.card__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__text {
  padding: 10px;
}

.card__text p {
  padding: 0;
  font-size: 14px;
}

.card__text h5 {
  font-weight: 600;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.author__image {
  width: 20%;
}

.author__image img {
  border-radius: 50%;
  height: 135%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.date_span {
  color: #24CCFA;
  font-weight: 200;
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  padding: 20px 0 40px 0;
}

.pictures__img360 {
  margin-right: 10px;
  width: 50%;
  position: relative;
}

.pictures__img360 .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 0;
  bottom: auto;
  right: auto;
  left: auto;
  height: 100%;
  width: 100%;
  background-color: rgba(44, 64, 88, 0.8);
  border-radius: 8px;
}

.pictures__img360 .overlay .avatar {
  opacity: 1;
  height: 150px;
  width: 150px;
  border: 5px white solid;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
  background-color: #33465c;
}

.pictures__img360 .overlay .avatar img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.pictures__img4 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pictures__img4 .arcphoto {
  margin-right: 10px;
}

.pictures__img4 .arcphoto__container img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}

.pictures__img4 .arcphoto__container:first-child {
  margin-bottom: 10px;
}

.no {
  visibility: hidden;
}

.contacts {
  background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  position: relative;
}

.contacts #map {
  height: 60vh;
}

.contacts .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 200px;
}

.contacts .footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts .footer .logo span {
  color: #fff;
}

.contacts .footer .logo img {
  padding: 10px 0 20px 0;
}

.contacts .footer .social {
  margin-top: 20px;
}

.contacts .contact {
  position: absolute;
  top: auto;
  bottom: 35%;
  right: auto;
  left: 30%;
  min-width: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #7E5AFF;
  padding: 30px;
  background-color: #ffffff;
  width: 40%;
}

.contacts .contact h2 {
  font-weight: 600;
}

.contacts .contact__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

.contacts .contact__adress span {
  color: #2C4058;
  padding: 10px 0 10px 0;
}

.contacts .contact__adress span i {
  color: #19829f;
}

.contacts .contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contacts .contact__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts .contact__form input {
  margin: 15px 0 10px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #2C4058;
}

.contacts .contact__form input:focus {
  outline: none;
}

.contacts .contact__form button {
  width: 50%;
}

.contacts .contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.toTop {
  position: fixed;
  top: auto;
  bottom: 10px;
  right: 10px;
  left: auto;
  cursor: pointer;
  display: none;
  z-index: 10;
}

.toTop img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.move1,
.move2 {
  display: none;
}

@-webkit-keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@media (max-width: 1130px) {
  .logo {
    padding-left: 50px;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    background-color: #2C4058;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background-color: #2C4058;
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    background-color: #2C4058;
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 60px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 12;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #2C4058;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 11;
  }
  .menu__link {
    color: #2C4058;
    font-size: 1rem;
  }
  .menu__item {
    position: relative;
  }
  .menu__item::before {
    color: #2C4058;
    position: absolute;
    left: -15px;
    bottom: -2px;
    padding: 14px;
  }
  .info__img:nth-child(1)::before {
    top: 0;
    left: 0;
  }
  .info__img:nth-child(2)::before {
    top: 0;
    right: 0;
  }
  .toTop {
    z-index: 10;
  }
}

@media (max-width: 1130px) and (min-width: 850px) {
  .card {
    min-width: 0;
    width: 90%;
  }
  .splide2 {
    max-width: 85%;
  }
  .author__info h5 {
    font-size: 1rem;
  }
  .author__image img {
    width: 140%;
    height: 90%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contacts .contact {
    left: 25%;
  }
  .contacts .footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 850px) {
  .social {
    display: none;
    width: 10%;
  }
  .logo {
    margin: 0 auto;
  }
  .splide__pagination {
    bottom: 2.5em;
  }
  .splide__pagination--ttb {
    right: 0em;
  }
  .splide__track:first-child {
    max-width: 80%;
    margin-left: 20px;
  }
  .info {
    padding: 40px calc(50vw - 500px);
  }
  .wwd__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wwd__info:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .info__text,
  .info__img {
    max-width: 90%;
    text-align: center;
  }
  .card {
    min-width: 0;
    width: 60%;
  }
  .pictures {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pictures__img360 {
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
  }
  .pictures__img4 {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  .pictures__img4 :nth-child(2) {
    margin: 0;
  }
  .contacts .contact {
    min-width: 0;
    left: 0;
    width: 100%;
    bottom: 40%;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social1 {
    margin: 0 auto;
    padding: 20px;
  }
  .footer {
    padding: 200px 0 !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

@media (max-width: 500px) {
  .author__info h5 {
    font-size: 0.85rem;
  }
  .author__image img {
    width: 10vw;
    height: 6vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contact__info {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .contact__form {
    margin: 0 auto;
  }
  .contact__adress {
    padding: 0;
    margin: 0 auto;
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */